{% extends '_base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block title %}Ebid | {{ auction.title }}{% endblock title %}


{% block left_sidebar %}

{% for auction,is_liked,is_disliked,is_favourite in single_auction %}

{% include "auctions/auction_top_part.html" %}
<h5>{{ auction.title }}</h5>
<p>{{ auction.description }}<p>
{% include "_single_estate.html" %}


{% include 'auctions/expiry_price.html' %}


{% if not  request.user == auction.user %}
<div id="bidSection">
{% include 'auctions/bid_menu.html' %}
</div>
{% endif %}

{% endfor %}

{% endblock left_sidebar %}


{% block content %}


{% include "auctions/bid_list.html" %}

{% endblock content %}

