{% load humanize %}


<div class="nil" style="style="display: none";" area-expanded="false" id="bid_list">
    
  <div class="list-group">
  <h5>
  Bid List
  </h5>
    {% for bid in bids %}
  
  
  <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <a href="{{ bid.user.get_absolute_url }}">
    <div class="d-flex w-300 justify-content-left">
      <img src="{{ bid.user.profile_pic.url }}" style="width:40px;height:40px">
      <strong class="mb-1">
        @{{ bid.user.username }}
        <br>
        {% include 'users/ratings.html' %}
      </strong>
    
    
    </div>
    </a>

    <h5 class="mb-1">
        Bid amount : 
        {% with x=bid.bid_amount %}
            {% if x <= 1000000 %}
                {{ x|intcomma }}
            {% else %}
                {{ x|intword }}
            {% endif %}
        {% endwith %}
        
    </h5>

  </div>
  <hr>

{% empty %}
    <h5>
    No bids yet.
    </h5>

{% endfor %}
</div>
  

</div>
