{% load humanize %}

<div class="nil" style="style="display: none";" area-expanded="false" id="my_bids">
    
  <div class="list-group">
  
  {% for bid in bids %}
  <div id="bidRow{{ bid.id}}">
  <div class="list-group-item list-group-item-action flex-column align-items-start"> 
  <a class="mb-1" href="{{ bid.estate.get_absolute_url }}" ">
    <div class="d-flex w-300 justify-content-left">
      <h5 class="mb-1">
        {{ bid.estate.title }}
      <small>
        {% with x=bid.bid_amount %}
            {% if x <= 1000000 %}
                {{ x|intcomma }}
            {% else %}
                {{ x|intword }}
            {% endif %}
        {% endwith %}
      </small>
      </h5>
      
       
    </div>


    <p class="mb-1">
      {{ bid.estate.description|truncatechars:20 }}
    </p>
  </a>

    <p class="mb-1">
    <a href="{{ bid.estate.get_absolute_url }}">
    <small>Edit</small>
    </a>

    
    <a>
    <small class="n" id="delete_bid" value="{{ bid.id }}">Delete</small>
    </a>

    </p>
    
</div>
</div>
  {% empty %}

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">No Bids Yet...</h5>
      <small></small>
    </div>
  </a>

  {% endfor %}
</div>
</div>

