{% extends 'pages/profile.html' %}%

   {% block middle %}             
                <div class="col-lg-8">


                    <div class="dashboard-widget mb-40">
                        <h5 class="title mb-10">Bid History</h5>
                        <div class="dashboard-purchasing-tabs">
                            <ul class="nav-tabs nav">
                                <li>
                                    <a href="#running" class="active" data-toggle="tab">Running</a>
                                </li>
                                <li>
                                    <a href="#won" data-toggle="tab">Won</a>
                                </li>
                                <li>
                                    <a href="#history" data-toggle="tab">Full History </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane show active fade" id="running">
                                    <table class="purchasing-table">
                                        <thead>
                                            <tr><th>Item</th>
                                            <th>Bid Price</th>
                                            <th>Highest Bid</th>
                                            <th>Expires</th>
                                        </tr></thead>
                                        <tbody>
                                            <tr>
                                            {% for bid in running%}
                                                <td data-purchase="item">{{ bid.auction.title }} </td>
                                                <td data-purchase="bidprice">{{ bid.bid_amount }} </td>
                                                <td data-purchase="highestbid">{{ bid.auction.get_highest_bid_amount }} </td>
                                                <td data-purchase="expires">{{ bid.auction.get_expiry_date }} </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane show fade" id="won">
                                    <table class="purchasing-table">
                                        <thead>
                                            <tr><th>Item</th>
                                            <th>Bid Price</th>
                                            <th>Expired Date</th>
                                        </tr></thead>
                                        <tbody>
                                        {% for bid in won %}
                                            <tr>
                                                <td data-purchase="item">{{ bid.auction.title }} </td>
                                                <td data-purchase="bidprice">{{ bid.bid_amount }} </td>
                                                <td data-purchase="expires">{{ bid.auction.get_expired_date }} </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane show fade" id="history">
                                    <table class="purchasing-table">
                                        <thead>
                                            <tr><th>Item</th>
                                            <th>Bid Price</th>
                                            <th>Highest Bid</th>
                                            <th>Expire date</th>
                                        </tr></thead>
                                        <tbody>
                                            {% for bid in history %}
                                            <tr>
                                            <td data-purchase="item">{{ bid.auction.title }} </td>
                                            <td data-purchase="bidprice">{{ bid.bid_amount }} </td>
                                            <td data-purchase="highestbid">{{ bid.auction.get_highest_bid_amount }} </td>
                                            <td data-purchase="expires">{{ bid.auction.get_expiry_date }} </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
    

{% endblock %}