{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Create Auction
{% endblock title %}
{% block hero %}
        <!--============= Hero Section Starts Here =============-->
    <div class="hero-section style-2">
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                
                <li>
                    <span>Create Auction</span>
                </li>
            </ul>
            
            
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li><span>{{ message }}</span></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="bg_img hero-bg bottom_center" data-background="{% static 'images/demo/hero-bg.png' %}"style="background-image: url(&quot;{% static 'images/demo/hero-bg.png' %}&quot;);"></div>
    </div>
    <!--============= Hero Section Ends Here =============-->
    

{% endblock hero %}

{% block content %}

  

    <!--============= Account Section Starts Here =============-->
    <section class="account-section padding-bottom">
        <div class="container">
            <div class="account-wrapper mt--100 mt-lg--440">
                <div class="left-side">
                    <div class="section-header">
                        
                        <h6>Fill the following form.</h8>
                    </div>
                    <form class="form" action = {% url 'create_auction' %} method='POST' enctype="multipart/form-data">{% csrf_token %}
                    
                        
                        {{ auction_create_form|crispy }}
                            <br>
    
                        
                    
                    <div class="form-group mb-0">
                        <button type="submit" class="custom-button">CREATE AUCTION</button>
                    </div>
  
                </form>


            </div>
                
        </div>
        
    </section>
    <!--============= Auction create Section Ends Here =============-->
{% endblock %}