{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Ebid | Auction Create{% endblock title %}

{% block content %}

<div class="form-group">
    <form action = {% url 'create_auction' %} method='POST' enctype="multipart/form-data">{% csrf_token %}
    {{ form|crispy }}
    <br>
    
    {{ formset.management_form }}
<div id="form_set">
    {% for form in formset.forms %}
    <div class="parent">
        <div class="form" id="{{ form.prefix }}">
            {{ form|crispy }}
        </div>
    </div>
    {% endfor %}
</div>
<input type="button" value="Add More" class="btn btn-info add-form" id="addBtn">

<br><br>
<div class="text-center">
    <input type="submit" value="Create Auction" class="btn btn-primary" style="float:none;">
</div>
  
  </form>
<div id="empty_form" style="display:none">
<div class="parent">
  <div class="form" id="{{ formset.empty_form.prefix }}">
        {{ formset.empty_form.as_p }}
        <button class="btn btn-danger delete-form" style="float:right;" id="btn-{{ formset.empty_form.prefix }}" value="{{ formset.empty_form.prefix }}">Remove</button>
    </div>
</div>
</div>
</div>

{% endblock content %}

{% block javascript %}
   $(document).on('click', '.add-form', function (event) {
        event.preventDefault();
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx)).show(2000);
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        
      });
 
      
      
      
      $(document).on('click', '.delete-form', function (event) {
        event.preventDefault();
        var form_id = $('#id_form-TOTAL_FORMS').val();
        var pk = $(this).attr('value');
          
        $("#"+pk).parent().nextAll().each( function () {
          var arrayId=$(this).children().attr('id').match(/\d+/);
          var oldId=arrayId[0];
          var newId=parseInt(oldId)-1;
          

          var regOld = new RegExp(oldId, "g");
          
          $(this).html($(this).html().replace(regOld,newId)); 
            
  		  
            
        
    
        });
           
        $("#"+pk).fadeOut(300, function(){ $(this).parent().remove();});
        
        
       $('#id_form-TOTAL_FORMS').val(parseInt(form_id) - 1);

      });
   

    {% endblock javascript %}
