{% extends '_base.html' %}
{% load static %}
{% block title %}
Detail
{% endblock title %}
{% block hero %}
    <!--============= Hero Section Starts Here =============-->
    <div class="hero-section style-2">
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="#0">Pages</a>
                </li>
                <li>
                    <span>Vehicles</span>
                </li>
            </ul>

            
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <a href="#"><li style="color:white;" ><span>{{ message }}</span></li></a>
                    {% endfor %}
                </ul>
            {% endif %}
            <a href="#"><li class=""><span>Message</span></li></a>
        </div>
        <div class="bg_img hero-bg bottom_center" data-background="{% static 'images/demo/hero-bg.png' %}" style="background-image: url(&quot;{% static 'images/demo/hero-bg.png' %}&quot;);"></div>
    </div>
    <!--============= Hero Section Ends Here =============--> 

{% endblock hero %}

{% block content %}

{% comment %} <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    <p id ="room-name">{{ auction.id }}</p>
<input id="room-name-input" type="text" size="100"><br>
<input id="room-name-submit" type="button" value="Enter">
<input id="id_i_need" value="{{ auction.id }}"> {% endcomment %}


<!--============= Product Details Section Starts Here =============-->
<section class="product-details padding-bottom mt--240 mt-lg--440">
    {% if seeing_by_admins %}
        {% include "auction/detail/for_admins.html" %}
    {% elif seeing_by_bidder %}
        {% include "auction/detail/for_bidders.html" %}
    {% comment %} {% else seeing_by_anonymous %} {% endcomment %}
    {% else %}
        {% include "auction/detail/for_anonymous.html" %}
    {% endif %}



    
    

    
    </section>
<!--============= Product Details Section Ends Here =============--> 

{% endblock content %}
{% block js %}
{% comment %} <script>
    const id=String(document.querySelector("#id_i_need").value);
    
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/bids/'
        + id
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').value += (data.message);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    //document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        document.querySelector('#chat-message-submit').click();
    
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    }; {% endcomment %}
</script>
{% endblock %}