{% load static %}
{% load crispy_forms_tags %}

<div class="product-details-slider-top-wrapper">
    <div class="product-details-slider owl-theme owl-carousel owl-loaded owl-drag" id="sync1">
    <div class="owl-stage-outer">
        <div class="owl-stage" style="transform: translate3d(-1620px, 0px, 0px); transition: all 0s ease 0s; width: 6480px;">
            <div class="owl-item cloned" style="width: 540px;">
                <div class="slide-top-item">    
                    <div class="slide-inner">
                        <img src="{{ auction.thumbnail.url }}" alt="product">
                    </div>
                </div>
            </div>

            <div class="owl-item cloned" style="width: 540px;">
                <div class="slide-top-item">
                    <div class="slide-inner">
                        <img src="{{ auction.thumbnail.url }}" alt="product">
                    </div>
                </div>
            </div>

            <div class="owl-item cloned" style="width: 540px;">
                <div class="slide-top-item">
                    <div class="slide-inner">
                        <img src="{{ auction.thumbnail.url }}" alt="product">
                    </div>
                </div>
            </div>
        
        
        </div>
    </div>
    
    <div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"></div><div class="owl-thumbs"></div></div>
</div>

<div class="product-details-slider-wrapper">
    <div class="product-bottom-slider owl-theme owl-carousel owl-loaded owl-drag" id="sync2">
        <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 821px;">
                
                <div class="owl-item synced active" style="width: 136.667px;">
                    <div class="slide-bottom-item">
                        <div class="slide-inner">
                            <img src="{{ auction.thumbnail.url }}" alt="product">
                        </div>
                    </div>
                </div>
        
                <div class="owl-item active" style="width: 136.667px;">
                    <div class="slide-bottom-item">
                        <div class="slide-inner">
                            <img src="{{ auction.thumbnail.url }}" alt="product">
                        </div>
                    </div>
                </div>
                
                
                <div class="owl-item" style="width: 136.667px;">
                    <div class="slide-bottom-item">
                        <div class="slide-inner">
                            <img src="{{ auction.thumbnail.url }}" alt="product">
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>


        <div class="owl-nav disabled">
            <div class="owl-prev">prev</div>
            <div class="owl-next">next</div>
        </div>
        
        <div class="owl-dots disabled">
        </div>
        <div class="owl-thumbs">
        </div>
    </div>
                    
        
        
        
    
    <span class="det-prev det-nav">
        <i class="fas fa-angle-left"></i>
    </span>
    <span class="det-next det-nav active">
        <i class="fas fa-angle-right"></i>
    </span>
</div>