{% load static %}
{% load crispy_forms_tags %}
<div class="container">
    {% include "auction/detail/carousel.html" %}


    <div class="row mt-40-60-80">
        <div class="col-lg-8">
            <div class="product-details-content">
                <div class="product-details-header">
                    <h2 class="title">{{ auction.title }}</h2>
                    <ul>
                        <li>Listing ID: 14076242</li>
                        <li>Item #: 7300-3356862</li>
                    </ul>
                </div>
                {% if is_he_winner %}
                    <h4>Congratulation {{request.user.username }} for winning this auction.</h4>

                    <ul class="price-table mb-30">
                    <li class="header">
                        <h5 class="current">Your bid amount</h5>
                        <h3 class="price">Rs. 700.00</h3>
                    </li>

                    <li>
                        <span class="details">Collateral Amount</span>
                        <h5 class="info">Rs. 60.00</h5>
                    </li>
                    
                    <li>
                        <span class="details">Remaining Amount</span>
                        <h5 class="info">Rs. 640 </h5>
                    </li>
                </ul>
                
                {% else %}
                    <ul class="price-table mb-30">
                    <li class="header">
                        <h5 class="current">Starting Price</h5>
                        <h3 class="price">Rs. 700.00</h3>
                    </li>
                    {% if of_type_open %}

                        <li>
                            <span class="details">Current Maximum</span>
                            <h5 class="info">Rs. 1000.00</h5>
                        </li>
                    {% endif %}
                    <li>
                        <span class="details">Bid Increment</span>
                        <h5 class="info">Rs. 50.00</h5>
                    </li>
                </ul>
                
                {% endif %}
                
                
                <div class="product-bid-area">
                    

                {% comment %} BID AREA FORM {% endcomment %}
                    {% if exists_in_dead_bucket or exists_in_live_bucket %}
                        {% if not bidder_deposited_ten_percent %}
                            <form class="product-bid-form" method="POST" action="{% url 'apply_bid' %}">
                                {% csrf_token %}
                                {{ bidder_paying_initial_form|crispy }}
                                <button type="submit" class="custom-button">Submit</button>
                            
                            </form>
                        
                        {% else %}
                            {% if did_he_bid %}
                                <form class="product-bid-form" method="POST" action="{% url 'apply_bid' %}">
                                    {% csrf_token %}
                                    {{ bid_bidding_form|crispy }}
                                
                                    <button type="submit" class="custom-button">Change Bid</button>
                                </form>

                                <form class="product-bid-form" method="POST" action="{% url 'apply_bid' %}">
                                    {% csrf_token %}
                                    {{ bid_deleting_form|crispy }}
                                
                                    <button type="submit" class="custom-button">Delete Bid</button>
            
                                </form>


                            {% else %}
                                <form class="product-bid-form" method="POST" action="{% url 'apply_bid' %}">
                                    {% csrf_token %}
                                    {{ bid_bidding_form|crispy }}
                                
                                
                                    <button type="submit" class="custom-button">Submit Bid</button>

                                </form>
                                    
                            {% endif %}

                        {% endif %}
            

                    {% elif exists_in_admin_waiting_bucket %}
                        <h5>Waiting admins announcing result..</h5>
                    {% elif exists_in_not_settled_bucket%}
                        {% if is_he_winner %}
                            <h5>Congratulations, you have won this auction. Now you need to pay.</h5>

                            <br>
                            <form class="product-bid-form">
                                <form class="product-bid-form" method="POST" action="{% url 'apply_bid' %}">
                                    {% csrf_token %}
                                    {{ bidder_paying_remaining_form|crispy }}
                                
                                
                                <button type="submit" class="custom-button">Submit</button>

                            </form>
                        {% endif %}
                    {% elif exists_in_settled_bucket %}

                        <h5>Auction has been completed..</h5>
                    {% elif exists_in_re_schedule_bucket %}

                        <h5>Auction will be shortly re-schdeuled..</h5>
                    {% endif %}
                    



                </div>


                <div class="buy-now-area">
                    
                    <a href="#0" class="rating custom-button active border"><i class="fas fa-star"></i> Add to Wishlist</a>
                    
                    
                    <div class="share-area">
                        <span>Share to:</span>
                        <ul>
                            <li>
                                <a href="#0"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="product-sidebar-area">
                <div class="product-single-sidebar mb-3">
                    
                    
                    {% if exists_in_dead_bucket %}
                        <h6 class="title">This Auction Starts in:</h6>
                        <div class="countdown">
                            <div id="bid_counter1">0d  : 09h  : 23m  : 29s</div>
                        </div>
                    {% elif exists_in_live_bucket %}
                        <h6 class="title">This Auction Ends in:</h6>
                        <div class="countdown">
                            <div id="bid_counter1">0d  : 11h  : 23m  : 29s</div>
                        </div>
                    {% elif exists_in_not_settled_bucket %}
                        <h6 class="title">This Auction is Ended:</h6>
                    {% endif %}


                    <div class="side-counter-area">
                        <div class="side-counter-item">
                            <div class="thumb">
                                <img src="{% static 'images/demo/icon1.png' %}" alt="product">
                            </div>
                    
                            <div class="content">
                                <h3 class="count-title"><span class="counter">61</span></h3>
                                <p>Active Bidders</p>
                            </div>
                    
                        </div>
                        <div class="side-counter-item">
                            <div class="thumb">
                                <img src="{% static 'images/demo/icon2.png' %}" alt="product">
                            </div>
                            <div class="content">
                                <h3 class="count-title"><span class="counter">203</span></h3>
                                <p>Watching</p>
                            </div>
                        </div>
                        <div class="side-counter-item">
                            <div class="thumb">
                                <img src="{% static 'images/demo/icon3.png' %}" alt="product">
                            </div>
                            <div class="content">
                                <h3 class="count-title"><span class="counter">82</span></h3>
                                <p>Total Bids</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment %} <a href="#0" class="cart-link">View Shipping, Payment &amp; Auction Policies</a> {% endcomment %}
            </div>
        </div>
    </div>

</div>


{% include "auction/detail/tabs.html" %}
