{% load static %}
<div class="container">
    {% include "auction/detail/carousel.html" %}
    <div class="row mt-40-60-80">
        <div class="col-lg-8">
            <div class="product-details-content">
                <div class="product-details-header">
                    <h2 class="title">{{ auction.title }}</h2>
                    <ul>
                        <li>Listing ID: 14076242</li>
                        <li>Item #: 7300-3356862</li>
                    </ul>
                </div>
                <ul class="price-table mb-30">
                    <li class="header">
                        <h5 class="current">Starting Price</h5>
                        <h3 class="price">Rs. 700.00</h3>
                    </li>
                    
                </ul>
                
                
                <div class="product-bid-area">
                    

                {% comment %} CHECK {% endcomment %}
                    {% if exists_in_dead_bucket %}
                        <h3> This auction has has not started yet. </h3>
                    {% elif exists_in_admin_waiting_bucket or exists_in_not_settled_bucket  or exists_in_settled_bucket %}
                        <h3> This auction has already been ended. </h3>
                        {% if exists_in_admin_waiting_bucket %}<h3> Admins are announcing winner. </h3>{% endif %}
                    {% elif exists_in_live_bucket  %}
                            <h5> Please login before bidding.</h5>
                                <a type="button" href="{% url 'login' %}" class="custom-button">Log in</button>
                            </form>

                    {% endif %}
                                    
                   



                </div>

>
            </div>
        </div>
        {% include "auction/detail/right_side.html" %}
    </div>

</div>


{% include "auction/detail/tabs.html" %}