{% load static %}
{% load crispy_forms_tags %}
<div class="product-tab-menu-area mb-40-60 mt-70-100">
<div class="container">
    <ul class="product-tab-menu nav nav-tabs">
        {% if exists_in_live_bucket or exists_in_not_settled_bucket or exists_in_settled_bucket %}
            <li>
                <a href="#history" class="active" data-toggle="tab">
                    <div class="thumb">
                        <img src="{% static 'images/demo/tab3.png' %}" alt="product">
                    </div>
                    <div class="content">Bid History (36)</div>
                </a>
            </li>

        {% endif %}

        <li>
            <a href="#details" class={% if bidding_not_started %}"active"{% else %}""{% endif %} data-toggle="tab">
                <div class="thumb">
                    <img src="{% static 'images/demo/tab1.png' %}" alt="product">
                </div>
                <div class="content">Description</div>
            </a>
        </li>


        <li>
            <a href="#delevery" data-toggle="tab">
                <div class="thumb">
                    <img src="{% static 'images/demo/tab2.png' %}" alt="product">
                </div>
                <div class="content">Delivery Options</div>
            </a>
        </li>
        
        <li>
            <a href="#questions" data-toggle="tab">
                <div class="thumb">
                    <img src="{% static 'images/demo/tab4.png' %}" alt="product">
                </div>
                <div class="content">Questions </div>
            </a>
        </li>
    </ul>
</div>
</div>
<div class="container">
<div class="tab-content">

    {% if exists_in_live_bucket or exists_in_not_settled_bucket or exists_in_settled_bucket %}
        <div class="tab-pane fade show active" id="history">
            <div class="history-wrapper">
                <div class="item">
                    <h5 class="title">Bid History</h5>
                    <div class="history-table-area">
                        {% if of_type_open or exists_in_not_settled_bucket or exists_in_settled_bucket %}

                        <table class="history-table" id="table_i_need">
                            
                            {% include "auction/history.html" %}

                        </table>
                        <div class="text-center mb-3 mt-4">
                            <a href="#0" class="button-3">Load More</a>
                        </div>

                        {% elif  exists_in_admin_waiting_bucket %}
                            <div class="item">
                                <h5 class="subtitle">Waiting admin...History will be made public when auction is expired and admins do so.</h5>
                                
                            </div>
                            

                        {% endif %}
                    </div>
                
                
                </div>
            </div>
        </div>
    {% endif %}


    <div class="tab-pane fade show{% if bidding_not_started %}active{% else %}{% endif %}" id="details">
        <div class="tab-details-content">
            <div class="header-area">
                <h3 class="title">2012 Ford Escape Hybrid (Brooklyn, NY 11214)</h3>
                <div class="item">
                    <table class="product-info-table">
                        <tbody>
                            <tr>
                                <th>Condition</th>
                                <td>New</td>
                            </tr>
                            <tr>
                                <th>Mileage</th>
                                <td>15,000 miles</td>
                            </tr>
                            <tr>
                                <th>Year</th>
                                <td>09-2017</td>
                            </tr>
                            <tr>
                                <th>Engine</th>
                                <td>I-4 1,5 l</td>
                            </tr>
                            <tr>
                                <th>Fuel</th>
                                <td>Regular</td>
                            </tr>
                            <tr>
                                <th>Transmission</th>
                                <td>Automatic</td>
                            </tr>
                            <tr>
                                <th>Color</th>
                                <td>Blue</td>
                            </tr>
                            <tr>
                                <th>Doors</th>
                                <td>5</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="item">
                    <h5 class="subtitle">NYC Fleet / DCAS units may be located at either of two locations:</h5>
                    <ul>
                        <li>Brooklyn, NY (1908 Shore Parkway)</li>
                        <li>Medford, NY (66 Peconic Ave)</li>
                    </ul>
                </div>
                <div class="item">
                    <h5 class="subtitle">This unit is located at:</h5>
                    <ul>
                        <li>Kenben Industries Ltd.</li>
                        <li>1908 Shore Parkway</li>
                        <li>Brooklyn, NY 11214</li>
                    </ul>
                </div>
                <div class="item">
                    <h5 class="subtitle">Acceptance of condition - buyer inspection/preview</h5>
                    <p>Vehicles and equipment often display significant wear and tear. Assets are sold AS IS with no warranty, express or implied, and we highly recommend previewing them before bidding. The preview period is the only opportunity to inspect an asset to verify condition and suitability. No refunds, adjustments or returns will be entertained. </p>
                    <p>Vehicle preview inspections of the vehicle can be done at the below location on Monday and Tuesday from 10am - 2pm. See Preview Rules Here.</p>                                
                    <ul>
                        <li>Kenben Industries Ltd.</li>
                        <li>1908 Shore Parkway</li>
                        <li>Brooklyn, NY 11214</li>
                    </ul>
                    <p>BUYER is responsible for all storage fees at time of pick-up. See above under IMPORTANT PICK-UP TIMES for specific requirements for this asset, but generally assets must be picked up within 2 business days of payment otherwise additional storage fees will be applied.</p>
                </div>
                <div class="item">
                    <h5 class="subtitle">Legal Notice</h5>
                    <p>Vehicles may not be driven off the lot except with a dealer plate affixed. By law, vehicles are not permitted to be parked on or to drive on the streets of New York without registration and plates registered to the vehicle. If the buyer cannot obtain the required registration and plates prior to pick up, they should have the vehicle towed at their own expense. The buyer should have the vehicle towed at their own expense.</p>
                    <p>Condition: Untested - Sold As-Is</p>
                    <p>Employees of , its subcontractors and affiliated companies, employees of the NYC Government and those bidding on behalf of PropertyRoom.com, its subcontractors and affiliated companies and employees of the NYC Government are not permitted to bid on or purchase NYC Fleet/DCAS assets. </p>
                </div>
                <div class="item">
                    <h5 class="subtitle">Condition</h5>
                    <p>This ASSET is being listed on behalf of a law enforcement agency or other partner ("SELLER") by PropertyRoom.com on a Sold AS IS, WHERE IS, WITH ALL FAULTS basis, with no representation or warranty from PropertyRoom.com or SELLER. In many cases, the car, boat, truck, motorcycle, aircraft, mowers/tractors, etc. ("ASSET") sold on PropertyRoom.com comes from seizure or forfeiture, and the SELLER typically does not possess use-based knowledge of the ASSET. Further, PropertyRoom.com does not physically inspect the ASSET and cannot attest to actual working conditions. PropertyRoom.com and SELLER gather information about the ASSET from authoritative sources; still, errors may appear from time to time in the listing. PropertyRoom.com cautions any website user, shopper, bidder, etc. ("BUYER") to attempt to confirm, with us, information material to a bidding/purchasing decision.</p>
                </div>
                <div class="item">
                    <h5 class="subtitle">Bidding</h5>
                    <p>At this time  only accepts bidders from the United States, Canada and Mexico on Vehicles and Heavy Industrial Equipment. The Bid Now button will appear on auctions where you are qualified to place a bid.</p>
                </div>
                <div class="item">
                    <h5 class="subtitle">Buyer Responsibility</h5>
                    <p>The BUYER will receive an email notification from PropertyRoom.com following the close of an auction. After fraud verification and payment settlement, we will email the BUYER instructions for retrieving the ASSET from the Will-Call Location listed above.</p>
                    <p>All applicable shipping, logistics, transportation, customs, fees, taxes, export/import activities and all associated costs are the sole responsibility of the BUYER. No shipping, customs, export or import assistance is available from .</p>
                    <p>When applicable for a given ASSET, BUYER bears responsibility for determining motor vehicle registration requirements in the applicable jurisdiction as well as costs, including any fees, registration fees, taxes, etc., owed as a result of BUYER registering an ASSET; for example, BUYER bears sole responsibility for all title/registration/smog and other such fees.</p>
                    <p>BUYER is responsible for all storage fees at time of pick-up. See above under IMPORTANT PICK-UP TIMES for specific requirements for this asset, but generally assets must be picked up within 2 business days of payment otherwise additional storage fees will be applied.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="delevery">
        <div class="shipping-wrapper">
            <div class="item">
                <h5 class="title">shipping</h5>
                <div class="table-wrapper">
                    <table class="shipping-table">
                        <thead>
                            <tr>
                                <th>Available delivery methods </th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Customer Pick-up (within 10 days)</td>
                                <td>$0.00</td>
                            </tr>
                            <tr>
                                <td>Standard Shipping (5-7 business days)</td>
                                <td>Not Applicable</td>
                            </tr>
                            <tr>
                                <td>Expedited Shipping (2-4 business days)</td>
                                <td>Not Applicable</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="item">
                <h5 class="title">Notes</h5>
                <p>Please carefully review our shipping and returns policy before committing to a bid.
                From time to time, and at its sole discretion,  may change the prevailing fee structure for shipping and handling.</p>
            </div>
        </div>
    </div>
    
    <div class="tab-pane fade show" id="questions">
            <h5 class="faq-head-title">Frequently Asked Questions</h5>
            <div class="faq-wrapper">
                <div class="faq-item">
                    <div class="faq-title">
                        <img src="{% static 'images/demo/faq.png' %}" alt="css"><span class="title">How to start bidding?</span><span class="right-icon"></span>
                    </div>
                    <div class="faq-content">
                        <p>All successful bidders can confirm their winning bid by checking the “”. In addition, all successful bidders will receive an email notifying them of their winning bid after the auction closes.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-title">
                        <img src="{% static 'images/demo/faq.png' %}" alt="css"><span class="title">Security Deposit / Bidding Power </span><span class="right-icon"></span>
                    </div>
                    <div class="faq-content">
                        <p>All successful bidders can confirm their winning bid by checking the “”. In addition, all successful bidders will receive an email notifying them of their winning bid after the auction closes.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-title">
                        <img src="{% static 'images/demo/faq.png' %}" alt="css"><span class="title">Delivery time to the destination port </span><span class="right-icon"></span>
                    </div>
                    <div class="faq-content">
                        <p>All successful bidders can confirm their winning bid by checking the “”. In addition, all successful bidders will receive an email notifying them of their winning bid after the auction closes.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-title">
                        <img src="{% static 'images/demo/faq.png' %}" alt="css"><span class="title">How to register to bid in an auction?</span><span class="right-icon"></span>
                    </div>
                    <div class="faq-content">
                        <p>All successful bidders can confirm their winning bid by checking the “”. In addition, all successful bidders will receive an email notifying them of their winning bid after the auction closes.</p>
                    </div>
                </div>
                <div class="faq-item open active">
                    <div class="faq-title">
                        <img src="{% static 'images/demo/faq.png' %}" alt="css"><span class="title">How will I know if my bid was successful?</span><span class="right-icon"></span>
                    </div>
                    <div class="faq-content">
                        <p>All successful bidders can confirm their winning bid by checking the “”. In addition, all successful bidders will receive an email notifying them of their winning bid after the auction closes.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-title">
                        <img src="{% static 'images/demo/faq.png' %}" alt="css"><span class="title">What happens if I bid on the wrong lot?</span><span class="right-icon"></span>
                    </div>
                    <div class="faq-content">
                        <p>All successful bidders can confirm their winning bid by checking the “”. In addition, all successful bidders will receive an email notifying them of their winning bid after the auction closes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

