{% load static %}
<div class="col-sm-10 col-md-6 col-lg-4">
    <div class="auction-item-2">
        <div class="auction-thumb">
            <a href="{{ auction.get_absolute_url }}"><img src="{{ auction.thumbnail.url }}" class="img-fluid aspect-ratio" style="height:300;width:350;" alt="product"></a>
            {% comment %} {{ auction.db.thumbnail.url }}" {% endcomment %}
            <a href="#0" class="rating"><i class="far fa-star-filled"></i></a>
            <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
        </div>
        <div class="auction-content">
            <h6 class="title">
                <a href="{{ auction.get_absolute_url }}">{{ auction.title }}</a>
            </h6>
            <div class="bid-area">
                <div class="bid-amount">
                    <div class="icon">
                        <i class="flaticon-auction"></i>
                    </div>
                    <div class="amount-content">
                        <div class="current">Opening</div>
                        <div class="amount">Rs. {{ auction.price_min_value }}</div>
                    </div>
                </div>
                <div class="bid-amount">
                    <div class="icon">
                        <i class="flaticon-money"></i>
                    </div>
                    <div class="amount-content">
                        <div class="current">Winning</div>
                        <div class="amount">Rs. {{ auction.price_max_value }}</div>
                    </div>
                </div>
            </div>
            <div class="countdown-area">
                
                <span class="total-bids">{{ auction.get_number_of_bids }} Bids</span>
            </div>
            <div class="text-center">
                <a href="{{ auction.get_absolute_url }}" class="custom-button">
{% if seeing_by_bidder %}
                Submit a bid
{% elif seeing_by_anonynous %}
                    Submit a bid
{% elif seeing_by_admins %}
            Enter OTP
{% elif seeing_by_inventory_incharge %}
View detail...

{% endif %}

                </a>
            </div>
        </div>
    </div>
</div>