<div class="container">
            <div class="product-details-slider-top-wrapper">
                <div class="product-details-slider owl-theme owl-carousel owl-loaded owl-drag" id="sync1">
                    
                    
                    
                    
                    
                    
                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3420px, 0px, 0px); transition: all 0s ease 0s; width: 13680px;"><div class="owl-item cloned" style="width: 1140px;"><div class="slide-top-item">
                        <div class="slide-inner">
                            <img src="./assets/images/product/product4.png" alt="product">
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 1140px;"><div class="slide-top-item">
                        <div class="slide-inner">
                            <img src="./assets/images/product/product5.png" alt="product">
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 1140px;"><div class="slide-top-item">
                        <div class="slide-inner">
                            <img src="./assets/images/product/product6.png" alt="product">
                        </div>
                    </div></div><div class="owl-item active" style="width: 1140px;"><div class="slide-top-item">
                        <div class="slide-inner">
                            <img src="./assets/images/product/product1.png" alt="product">
                        </div>
                    </div></div><div class="owl-item" style="width: 1140px;"><div class="slide-top-item">
                        <div class="slide-inner">
                            <img src="./assets/images/product/product2.png" alt="product">
                        </div>
                    </div></div><div class="owl-item" style="width: 1140px;"><div class="slide-top-item">
                        <div class="slide-inner">
                            <img src="./assets/images/product/product3.png" alt="product">
                        </div>
                    </div></div><div class="owl-item" style="width: 1140px;"><div class="slide-top-item">
                        <div class="slide-inner">
                            <img src="./assets/images/product/product4.png" alt="product">
                        </div>
                    </div></div><div class="owl-item" style="width: 1140px;"><div class="slide-top-item">
                        <div class="slide-inner">
                            <img src="./assets/images/product/product5.png" alt="product">
                        </div>
                    </div></div><div class="owl-item" style="width: 1140px;"><div class="slide-top-item">
                        <div class="slide-inner">
                            <img src="./assets/images/product/product6.png" alt="product">
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 1140px;"><div class="slide-top-item">
                        <div class="slide-inner">
                            <img src="./assets/images/product/product1.png" alt="product">
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 1140px;"><div class="slide-top-item">
                        <div class="slide-inner">
                            <img src="./assets/images/product/product2.png" alt="product">
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 1140px;"><div class="slide-top-item">
                        <div class="slide-inner">
                            <img src="./assets/images/product/product3.png" alt="product">
                        </div>
                    </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"></div><div class="owl-thumbs"></div></div>
            </div>
            
            <div class="row mt-40-60-80">
                <div class="col-lg-8">
                    <div class="product-details-content">
                        <div class="product-details-header">
                            <h2 class="title">The Breeze Zodiac IX</h2>
                            <ul>
                                <li>Listing ID: 14076242</li>
                                <li>Item #: 7300-3356862</li>
                            </ul>
                        </div>
                        <ul class="price-table mb-30">
                            <li class="header">
                                <h5 class="current">Current Price</h5>
                                <h3 class="price">US $700.00</h3>
                            </li>
                            <li>
                                <span class="details">Buyer's Premium</span>
                                <h5 class="info">10.00%</h5>
                            </li>
                            <li>
                                <span class="details">Bid Increment (US)</span>
                                <h5 class="info">$50.00</h5>
                            </li>
                        </ul>
                        <div class="product-bid-area">
                            <form class="product-bid-form">
                                <div class="search-icon">
                                    <img src="./assets/images/product/search-icon.png" alt="product">
                                </div>
                                <input type="text" placeholder="Enter you bid amount">
                                <button type="submit" class="custom-button">Submit a bid</button>
                            </form>
                        </div>
                        <div class="buy-now-area">
                            <a href="#0" class="custom-button">Buy Now: $4,200</a>
                            <a href="#0" class="rating custom-button active border"><i class="fas fa-star"></i> Add to Wishlist</a>
                            <div class="share-area">
                                <span>Share to:</span>
                                <ul>
                                    <li>
                                        <a href="#0"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="product-sidebar-area">
                        <div class="product-single-sidebar mb-3">
                            <h6 class="title">This Auction Ends in:</h6>
                            <div class="countdown">
                                <div id="bid_counter1">0d  : 3h  : 41m  : 48s</div>
                            </div>
                            <div class="side-counter-area">
                                <div class="side-counter-item">
                                    <div class="thumb">
                                        <img src="./assets/images/product/icon1.png" alt="product">
                                    </div>
                                    <div class="content">
                                        <h3 class="count-title"><span class="counter">61</span></h3>
                                        <p>Active Bidders</p>
                                    </div>
                                </div>
                                <div class="side-counter-item">
                                    <div class="thumb">
                                        <img src="./assets/images/product/icon2.png" alt="product">
                                    </div>
                                    <div class="content">
                                        <h3 class="count-title"><span class="counter">203</span></h3>
                                        <p>Watching</p>
                                    </div>
                                </div>
                                <div class="side-counter-item">
                                    <div class="thumb">
                                        <img src="./assets/images/product/icon3.png" alt="product">
                                    </div>
                                    <div class="content">
                                        <h3 class="count-title"><span class="counter">82</span></h3>
                                        <p>Total Bids</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#0" class="cart-link">View Shipping, Payment &amp; Auction Policies</a>
                    </div>
                </div>
            </div>
        </div>