{% load crispy_forms_tags %}
<div id="bidMenu">

{% if has_bid %}
<p>{{ bid_amount }}</p>
<h5 id='changeBid' class='bidOption' >Change bid</h5>
<h5 id='deleteBid' class='bidOption'>Delete bid </h5>

{% else %}
<h5 id='addBid' class='bidOption'>Participate</h5>
{% endif %}

</div>



<form id="bidForm"  class="{{ auction.id }}" style="display:none;" action='.' method="POST">
{% csrf_token %}
{{ bid_form | crispy }}

<button class="btn btn-primary" id="bidFormSubmit" value=''>Submit</button>
</form>


